// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.error-container{
    margin-top:10px;
}

.cm-loader{
    .loading-wrapper{
        background:transparent;
        box-shadow: none;
        ion-spinner{
            width: 70px;
            height: 70px;
            color: var(--ion-color-primary);
        }
    }
}

.user-types, ion-radio-group{
    ion-label{
        padding:0px 10px;
    }
}

.ques-alert{
    .alert-wrapper{
        .alert-button-group{
            // .ok-btn, .alert-button:last-child{
            //     background-color: var(--ion-color-secondary);
            //     color: var(--ion-color-light);
            //     width: 46.5%;
            //     text-transform: capitalize;
            // }
            // .cancel-btn, .alert-button:first-child{
            //     background-color: var(--ion-color-primary);
            //     color: var(--ion-color-light);
            //     width: 46.5%;
            //     text-transform: capitalize;
            // }
            // .alert-button-inner{
            //     justify-content: center;
            // }
        }
        .alert-input-group{
            // padding-top:0;
        }
    }
}